body {
  background: rgb(231, 186, 81);
  color: rgb(83, 40, 21);
  max-width: 600px;
  margin: 0 auto;
}

h1,
p {
  text-align: center;
}

.navbar {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: rgb(88, 164, 71);
}

img {
  display: block;
  margin: 0 auto;
}
